.books{
  background-color: #000;
  height: 100vh;
    .container{
      width: 100%;
      .sortButtons{
        display: flex;
      justify-content: center;
      padding-right: 25px;
      button{
        border-radius: 10px;
        background-color: #FFD666;
        color: #000000;
        font-weight: 500;
        padding:5px
      }
      }
    }
}